---
title: Pong in 2.5D
date: 2011-02-02
tags: Flash
description: A Pong game with a nice 3D(2.5D) effect.
end_path: 
layout: full_layout
---

<% content_for :header do %>
	<h1>Pong<small>in 2.5D</small></h1>
<% end %>
<% content_for :intro do %>
	<%= current_page.data.description %>
<% end %>

