---
title: Laboratory Explorer
date: 2013-05-11 15:14 UTC
tags: Emberjs, CSS3
description: Beautiful lab browser built with ember.js and CSS3.
layout: layout
end_path: /labs#/labs
---

<div class="lab-explorer">
	<iframe src="<%= '/labs#/labs' %>"></iframe>
</div>

