@import 'bourbon/bourbon';


$countLabs: 12;
$labWidth: (100%/$countLabs);
$scaleFactor: 1.2;
$navHeight: 76px;
$subNavHeight: 40px;

$red: #902028;
$white: #DDD;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body{padding: 0;margin:0;overflow-y:hidden;}

nav.gallery-nav {
	background: #222;
	width: 100%;
	margin: 0;
	padding: 0;
	position: static;
	padding-top: 0;

	ul {
		height: $navHeight;
		overflow: hidden;
		&:hover, &:active {
			li{ 
				width: $labWidth/$scaleFactor;
			}
		}
	}

	li {
		display: block;
		width: $labWidth;
		height: 100%;
		float: left;
		background: #222;
		text-transform: none;
		@include transition(width 0.2s ease-out);
		border-radius: 0;
		overflow: hidden;

		& > a {
			display: block;
			width: 500px;
			height: 100%;
			border: 4px solid transparent;
			border-left-width: 0;
			border-right-width: 0;
			padding: 4px 8px;
			border-radius: 0;
			&.active{
				border-bottom: 4px solid $red;
			}
		}

		&:hover {
			width: 100% - ($countLabs - 1) * ($labWidth / $scaleFactor) !important;
		}

		figure {
			float: left;
			margin-right: 4px; 
		}
	}

	.title {
		font-weight: bold;
		color: $white;
	}

	.date {
		color: darken($white, 30%);
		display: block;
		margin-top: 0.5em;
	}
}

.brand {
	height: 100%;
	line-height: ($navHeight / 3);
	margin: ($navHeight / 6);
	margin-right: 40px;
	color: $red;
	font-weight: bold;
	font-size: 1rem;
	
	&:hover {
		background: transparent;
		color: $white;
	}
}

.pull-left {
	float: left;
}

.gallery {
	.viewer {
		position:absolute;
		width: 100%;
		top: $navHeight + $subNavHeight;
		bottom: 0;

		iframe {
			border:0;
			width:100%;
			height:100%
		}
	}

	.lab-description {
		background: $red;
		color: $white;
		height: $subNavHeight;
		line-height: $subNavHeight;
		padding: 0 ($navHeight / 6);
	}

	.external-link {
		color: $white;
		float: right;
		text-decoration: none;
		&:hover{text-decoration: underline;}
	}
}