<% wrap_layout :layout do %>
	<div id="headerArea">
		<header>
			<h1><%= yield_content(:header)%></h1>
		</header>
	</div>
	<div id="wrapper">
    <h2><%= yield_content(:intro)%></h2>
    <nav>
    	<% link_to "/" do %>
  	  		<div id="homeBar">Home<span class="icons homeIcon"></span></div>
    	<% end %>
    	<% link_to "http://blog.pedro.si" do %>
		    <div id="blogBar">Blog<span class="icons blogIcon"></span></div>
    	<% end %>
    </nav>

    <%= yield %>

    <footer>
        <small>&copy; 2010, Pedro Damian Kostelec, pedro.si</small>
    </footer>
    
  	</div>
<% end %>