<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Pedro Kostelec</title>
    <meta content="Pedro Damian Kostelec is a student at Universty of Ljubljana, Slovenia.He's studying Computing and Informatics. He likes to experiment and create application using web technologies like Flash, Javascript, HTML and CSS." name="description">
    <meta content="Pedro Kostelec, Pedro Damian Kostelec, web technologies, flash, java, HTML5, CSS, video, animation, experiments" name="keywords">

    <link rel="shortcut icon" href="assets/images/favicon_16px.png">
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "style" %> 
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:regular|Nobile:bold|Copse|Josefin+Slab:lightitalic,regular" %>

    <%= yield_content(:head)%>
  </head>
  <body>
    
    <%= yield %>
    

    <footer>
        <small>&copy; 2010, Pedro Damian Kostelec, pedro.si</small>
    </footer>

    <script type="text/javascript">
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19545605-1']);
      _gaq.push(['_setDomainName', '.pedro.si']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script> 
    
  </body>
</html>
