@charset "utf-8";

@import url("html5reset-1.6.1.css");
@import url("laboratory.css");

/*Alignement*/
body{
	margin:0;
	padding:0;
}

body{
/*	-webkit-transition: all 0.3s ease-out linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;*/
}

#headerArea{
	width:100%;
	top:0;
	height:auto;	
	z-index:1;
}
header{
	display:block;
	margin:0 auto; 
	margin-top:40px;
	
	
/*	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);*/
}
#wrapper{
	position:relative;
	margin:0 auto;	
	max-width:800px;
	min-width:600px;
	top:20px;
	padding:10px 100px 20px 100px;
}
#contact{
	position:relative;
/*	background:#ddd;*/
	height:75px;
}
#blog, #content{
	position:relative;	
/*	background:#ddd;*/
	margin-top:20px;
	padding-bottom: 0px;
}

#blogwrapper{
	height:200px;
	overflow:hidden;	
	border-bottom:1px dashed #ccc;
	/*overflow:auto;*/
}

section h1{
	position:absolute;
	/*background:#eee;*/
	margin:10px 0 0 10px;
	padding:0;
	left:0;
}

/*article h3{
	position:static;
}*/

#content h2{	
	margin:0;
	padding:0;
}
#content article, #blog article, #blogFrame{
	display:block;
	position:relative;
	margin:0;
	padding:0;
	left:25%;
	width:75%;
	margin-bottom:1.5em;
/*	background:#CCC;*/
}
	#blogFrame{
		overflow:visible;
		display:none;
	}


#contact ul{
	display:block;
	position:relative;
	margin-top:20px;
	padding-bottom:20px;
	left:25%;
	width:75%;
/*	background:#aaa;*/
	list-style:none;
}

#contact li{
/*	background:#9CC;*/
	display:inline-block;
	width:40%;
	padding:0 3.5% 0 0;
	margin:0 1%;
}
#contact li p{
/*	background:#96F;*/	
	margin:0;
}

footer{
/*	background-color:#999;*/
	bottom:-100px;
	clear:both;
	padding:10px 0;
	position:relative;
	text-align:center;
}

.floatleft{
	float:left;	
	margin:5px 10px 5px 0;
}

/*Alignement*/
/*Design*/


body{
	color:#433;	
	/*background:url(../images/background2.png) repeat top left fixed;*/
	font-family:Tahoma, Geneva, sans-serif;
	font-size:0.9em;
}

p{
	line-height:1.6em;	
	margin: 10px 0;
}

#wrapper{
	/*background:white;
	background:rgba(256,256,256,0.8);	*/
	background:#F2F2F2;
	background:rgba(242,242,242,0.6);
	
	//border:1px solid #9ab;
	
	box-shadow:0 0 2px #aaa;
	-webkit-box-shadow:0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	
	border-radius:5px;
	-moz-border-radius:5px;
}

#headerArea h1{
	font-family:"Times New Roman", Times, serif;
	font-size:4em;
	text-transform:capitalize;
	line-height:1em;
	letter-spacing:18px;
	/*line-height:1em;*/
	color:#902028;
	/*color:rgba(256,256,256,1);*/
	text-align:center;
	
	text-shadow:0px -4px 1px #A9C7FC;
}
	#headerArea h1 small{	
		color: #A9C7FC;
		display: block;
		font-size: 20px;
		font-weight: normal;
		font-variant: small-caps;	
		letter-spacing: 3px;
		line-height: 1.8em;
		text-transform: capitalize;
		text-shadow: none;
	}

#headerArea{
	/*background:#ceF;	
	background:-webkit-gradient(linear,left top,left bottom,
    color-stop(0.6, rgba(242,242,242,1)),
    color-stop(1, rgba(242,242,242,0))
	);
	background:-moz-linear-gradient(
    center top,
    rgba(242,242,242,1) 60%,
    rgba(242,242,242,0) 100%
	);*/
}
h2{
	font-family:"Times New Roman", Times, serif;	
	font-weight:normal;
	font-size:1.3em;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
	line-height:1.5em;
	text-align:center;
}

article h2{
	font-style:normal;	
	font-size:1.5em;	
	font-weight:bold;
	border-bottom:none;
}

#contact, #content, #blog{
	border-bottom:1px dotted #CCC;	
}

a{
	color: #902028;
	text-decoration:underline;
}
	a:hover, a:active, a:focus{
		text-decoration:none;
		background:#902028;
		color:#FFF;
		border-radius:2px;
		-moz-border-radius:2px;
		-o-border-radius:2px;
	}

a.readmore{
	color:inherit;
	display:inline;
	padding:0 3px;
	border:3px solid #A9C7FC;
	border-color:rgba(169,199,252,0.3);
	border-radius:3px;
	-moz-border-radius:3px;
	margin: -10px 0 0 10px;
	position:relative;
	text-decoration:none;
	
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s linear;
}
	a.readmore:hover, a.readmore:focus{
		background-color:transparent;
		border-color:white;
		box-shadow:0 0 8px #A9C7FC;
		-moz-box-shadow: 0 0 8px #A9C7FC;
		-webkit-box-shadow: 0 0 8px #A9C7FC;
	}

h1.section {
	font-family:"Times New Roman", Times, serif;	
	font-weight:normal;
	font-size:2em;
}

h1.section a{
	text-decoration:none;
	color:#433;	
	padding:0 5px;
	padding-left:0;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s linear;
	border:5px solid #A9C7FC;
	border-color:rgba(169,199,252,0.3);
	border-radius: 5px;
	-moz-border-radius: 5px;
}
h1.section a:hover, h1.section a:focus {
	color:#000;		
	background-color:transparent;
	border-color:white;
	box-shadow:0 0 8px #A9C7FC;
	-moz-box-shadow: 0 0 8px #A9C7FC;
	-webkit-box-shadow: 0 0 8px #A9C7FC;
}

article h3 {
	color:#902028;
	font-family:"Times New Roman", Times, serif;	
	font-size:1.5em;
	margin: 0 0 0.5em 0;
	opacity:0.7;
	padding-top:0.5em;
	padding-bottom:0;
	
}

a.postTitle {
	font-family:"Times New Roman", Times, serif;	
	font-weight:normal;
	font-size:1.2em;
	text-decoration:none;
	color:#611;
	line-height:1.7em;
	letter-spacing:1px;
	text-shadow:0 0 2px #999;
}
	a.postTitle:hover, a.postTitle:active, a.postTitle:focus {
		text-decoration:underline;
		background-color:transparent;
	}
	a.postTitle:visited {
		color:#611;
		background-color:transparent;
	}

.postDate{
	font-size:0.7em;
	color:#999;	
	float:right;
	line-height:2em;
}

#mail,#linkedin{	
	line-height:18px;
}

#contact a{
	display:block;
	position:relative;
	padding:5px 0;
	text-decoration:none;
	color:#444;
	width:auto;
	text-indent:5%;
	border:5px solid #A9C7FC;
	border-color:rgba(169,199,252,0.3);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	text-shadow:none;
}
#contact a{
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#contact a:hover, #contact a:active, #contact a:focus{
	/*border-bottom:1px dashed;*/
	/*background:#A9C7FC;*/
	color:#000;	
	border:5px solid white;
	box-shadow:0 0 8px #A9C7FC;
	-moz-box-shadow:0 0 8px #A9C7FC;
	-webkit-box-shadow:0 0 8px #A9C7FC;
	background-color:transparent;
}

#contact .subdesc{
	display:block;
	text-decoration:none;
	font-size:0.8em;
	line-height:1em;
	color:#457780;
}

footer small{
	font-style:italic;
	font-size:0.8em;
	color:#aaa;
/*	background-color:#F00;*/
}

img{
	border:1px solid #bbb;
}
/*Design*/

/*Additional design*/

/*Experimental*/
pre{
	overflow:auto;
	width: 99%;    
	height:110%;                     
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	line-height:1em;
	background:#f6f6f6;
	background:rgba(246,246,246,.3);
	font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	padding:0.5em;
	margin:0.5em;
}

nav{
	position:fixed;
	top:120px;
	left:0;
	z-index:1;
	text-transform:uppercase;
	width:75px;
}

nav a{
	text-decoration:none;
	color: #444;
}

#labsBar, #blogBar, #homeBar{
	display:block;
	background:#f6f6f6;
	border:1px solid #CCC;
	border-left:none;
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 5px 5px 0;
	display:block;	
	margin:5px 0;
	padding:10px 5px 10px 5px;
	position:relative;
	-webkit-box-shadow:-2px 2px 2px #CCC;
	-moz-box-shadow:-2px 2px 2px #CCC;
	-o-box-shadow:-2px 2px 2px #CCC;
	box-shadow:-2px 2px 2px #CCC;
	
	text-shadow:-1px 1px 1px #ccc;
	
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
	#labsBar:hover, #blogBar:hover, #homeBar:hover, #labsBar:focus, #blogBar:focus, #homeBar:focus, #labsBar:active, #blogBar:active, #homeBar:active{
		background:#A9C7FC;
		padding:10px 5px 10px 7px;
		color:white;
		
		-webkit-box-shadow:-1px 1px 2px #CCC;
		-moz-box-shadow:-1px 1px 2px #CCC;
		-o-box-shadow:-1px 1px 2px #CCC;
		box-shadow:-1px 1px 2px #CCC;
		
		text-shadow:-2px 2px 1px #ccc;
		
/*		-webkit-transform-origin:left;
		-webkit-transform:rotate(1deg);
		-o-transform-origin:left;
		-o-transform:rotate(1deg);
		-moz-transform-origin:left;
		-moz-transform:rotate(1deg);
		transform-origin:left;
		transform:rotate(1deg);*/
	}
	.icons { background: url(../images/icons.png) no-repeat top left; 
		width: 16px; 
		height: 16px;  
		display:inline-block;
	} 
	.icons.blogIcon {
		background-position:0px -96px ; 
		float:right; 
	} 
	.icons.labIcon{ 
		background-position: 0px -64px;
		float:right; 
	}
	.icons.homeIcon{ 
		background-position: 0px -128px;
		float:right;
	}
	.icons.mailIcon{ 
		background-position: 0px 0px;
		margin-right:2px;
	}
	.icons.linkedinIcon{ 
		background-position: 0px -32px;
		margin-right:2px;
	}
	
	
body{
	background:url(../images/background2.png) repeat top left fixed;
}
/*FONTS*/
body{
	font-family: 'PT Sans', arial, serif;
}
h1.section{
	font-style:italic;
	font-family: 'Josefin Slab', 'Times New Roman', Times, serif;
}
#contact a{
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
#headerArea h1{
	font-family:Nobile, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#wrapper h2{
	font-family: 'PT Sans', arial, serif;
}
a.postTitle{
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	font-size: 1em;
}
article h3{
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.experiment h4{
	font-family: 'PT Sans', arial, serif;
	font-weight:normal;
}
nav{
	
}

/*SELECTION***************************/
::selection {
        background: rgb(131,209,222); /* Safari */
		color:#336;
}
::-moz-selection {
        background: rgb(131,209,222); /* Firefox */
		color:#336;
}
