<% link_to "/", :'data-instant' => true do %>
	<div id="homeBar">Home<span class="icons homeIcon"></span></div>
<% end %>
<% link_to "http://blog.pedro.si" do %>
	<div id="blogBar">Blog<span class="icons blogIcon"></span></div>
<% end %>
<% link_to "https://www.linkedin.com/in/pedrokostelec", :'data-instant' => true do %>
	<div id="labsBar">CV<span class="icons labIcon"></span></div>
<% end %>	