---
layout: layout
---

<% content_for :head do %>
<%= stylesheet_link_tag "html5reset-1.6.1","http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css", "resume" %>
<% end %>


<div id="doc2" class="yui-t7">
	<div id="inner">
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Pedro Damian Kostelec</h1>
					<h2>Web Designer, programer</h2>
				</div>
				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:web@pedro.si">web@pedro.si</a></h3>
						<h3>(00 386) 41-587-062</h3>
						<h3><a href="http://pedro.si">http://pedro.si</a></h3>
					</div>
					<!--// .contact-info --> 
				</div>
			</div>
			<!--// .yui-gc --> 
		</div>
		<!--// hd -->
		
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>About me</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">I am excited about web development, user interface design, computer animation and application programming. I am mostly self-taught and always looking for new challenges.</p>
						</div>
					</div>
					<!--// .yui-gf -->
					
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">
							<div class="polovicni">
								<h2>Web development</h2>
								<p>I create focused and logical user interfaces. I have a good taste for design and I pay strong attention to detail.</p>
							</div>
							<div class="polovicni">
								<h2>Team leading</h2>
								<p>I am a successful and aspiring leader for groups of teenagers and kids, and have experience working with elderly people.</p>
							</div>
						</div>
					</div>
					<!--// .yui-gf -->
					
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical knowledge</h2>
						</div>						<div class="yui-u">
							<ul class="talent">
								<li>HTML (95%)</li>
								<li>CSS (95%)</li>
								<li class="last">Javascript (85%)</li>
							</ul>
							<ul class="talent">								
								<li>Java (80%)</li>
								<li>Ruby on Rails (80%)</li>
								<li class="last">ActionScript (20%)</li>
							</ul>
							<ul class="talent">
								<li class="">Windows / Linux</li>
							</ul>
						</div>
					</div>
					<!--// .yui-gf-->
					
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Work</h2>
						</div>
						<!--// .yui-u -->
						<div class="yui-u">
							<div class="job">
								<h2>Incentive Ventures</h2>
								<h3>Front-end web developer</h3>
								<h4>July - September 2011</h4>
								<p>
								<ul>
									<li>e-commerce website for luxury bags (<a href="http://styleflat.com">StyleFlat.com</a>)</li>
									<li>internal tools to simplify publishing of items to the e-commerce website and other 3rd party products </li>
								</ul>
								Languages/tools used: HTML5, CSS3, Javascript (JQuery library), Rails <br />
								Skills: rapid prototyping and iterating.
								</p>
							</div>
							<div class="job">
								<h2><a href="fitnesi-si.html">Fitnesi.si</a></h2>
								<h3>Web developer and designer.</h3>
								<h4>May - June 2011</h4>
								<p>I created creating a very focused and original website/webapplication targeted at fitnes centres and users. I left the position and development has been undertaken by another developer.<br />
								Languages/tools used: HTML5, CSS3, Javascript (JQuery library)
								</p>
							</div>
						</div>
						
						<div class="yui-u">
							<div class="job">
								<h2><a href="http://presojaidej.com/" target="_blank">Presojaidej.com</a></h2>
								<h3>Website development</h3>
								<h4>March 2011</h4>
								<p>I designed an original design for a project for E-amiga d.o.o. and created the complete website.<br />
								Languages/tools used: HTML5, CSS3, Javascript, Fireworks.
								</p>
							</div>
						</div>
						
						<div class="yui-u">
							<div class="job">
								<h2><a href="/labs/2009/london-student-bible/" target="_blank">London Student Bible</a></h2>
								<h3>Flash splash screen design</h3>
								<h4>June-July 2009</h4>
								<p>Designed and created a fluid splash/home page for the London Student Bible project.<br />
								Languages/tools used: Flash(Actionscript), XML, Photoshop.
								</p>
							</div>
						</div>
						
						<div class="yui-u">
							<div class="job">
								<h2>English Summer Camp Mojca</h2>
								<h3>Voluntary camp counselor, leading groups of children aged 14-17</h3>
								<h4>Summers 2008, 2009, 2010</h4>
								<p>Independently led weekly-changing groups of of young teenagers in an english summer camp.<br />
								Often voted top-counselor by the children and camp owner.
								</p>
							</div>
						</div>
						
						<div class="yui-u">
							<div class="job last">
								<h2>Institute Anton Trstenjak</h2>
								<h3>Voluntary teaching of computer basics to elderly.</h3>
								<h4>2009-2010</h4>
								<p>One-to-one teaching computer basics to elderly people as part of a project named "Intergeneration gathering and computer instruction" organized by the Institute Anton Trstenjak. 
								</p>
							</div>
						</div>
						<!--// .yui-u --> 
					</div>
					<!--// .yui-gf -->
					
					<div class="yui-gf solanje">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Ljubljana</h2>
							<h3>Faculty of computer science and informatics<em>(2010 — 2013)</em></h3>
						</div>
						<div class="yui-u">
							<h2>Gimnazija Bezigrad, Ljubljana</h2>
							<h3>International Baccalaureate Diploma Program<em>(2008 — 2010)</em></h3>
						</div>
					</div>
					<!--// .yui-gf --> 
					
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Interests</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Game programming</li>
								<li class="last">Computer animation</li>
							</ul>
							<ul class="talent">
								<li>Karate</li>
								<li class="last">Swimming</li>
							</ul>
							<ul class="talent">
								<li>Cycling</li>
								<li class="last">Reading</li>
							</ul>
						</div>
					</div>
					<!--// .yui-gf-->
					
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>English</li>
								<li class="last">Slovenian</li>
							</ul>
							<ul class="talent">
								<li>Spanish</li>
								<li class="last">French</li>
							</ul>
						</div>
					</div>
					<!--// .yui-gf-->
				</div>
				<!--// .yui-b --> 
			</div>
			<!--// yui-main --> 
		</div>
		<!--// bd -->
		
		<div id="ft">
			<p>Pedro Damian Kostelec &mdash; <a href="mailto:web@pedro.si">web@pedro.si</a> &mdash; (00 386) 41-587-062 &mdash;<a href="http://pedro.si">pedro.si</a></p>
		</div>
		<!--// footer --> 
	</div>
	<!-- // inner --> 
</div>